.footer-blurb {
    padding: 0 10px;
    text-align: center;
    background-color: #74b9ff;
}


.footer-blurb-h3 {
    color: #dfe6e9;
}

.footer-blurb-item {
    padding: 20px 0;
}


.copyright {
    text-align: center;
    padding: 20px 0;
}


